node_modules
coverage
.idea
!/generators/app/templates/flutter/flutter-app/.idea
*.iml
*.ipr
*.iws
atlassian-ide-plugin.xml
/.project
test/temp/
*debug.log*
.vscode
yarn.lock
.DS_Store
test/templates/**/lib
